<div class="main-container">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12" style="margin-top: 20%;">
				
			</div>
		</div>
		<div class="row">
			<div class="col-md-offset-4 col-md-4">
				<div class="well no-padding">

					<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()" novalidate id="login-form" class="smart-form client-form">

						<header>
							<span> 
								<img src="/assets/images/logo_vivetic.png" alt="Vivetic">
							</span>
						</header>

						<fieldset>
							<section>
								<div *ngIf="invalidCredentialMsg" class="alert alert-danger text-center">{{invalidCredentialMsg}}
								</div>
							</section>
							<section>
								<label class="label" for="matricule">Matricule : </label>
								<label class="input">
									<i class="icon-append fa fa-user"></i>
						  			<input id="matricule" class="form-control" formControlName="matricule" autocomplete="off">
						  			<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Merci d'entrer votre matricule </b>
						  		</label>
							  	<div [hidden]="loginForm.get('matricule').valid || loginForm.get('matricule').untouched" class="alert alert-danger">
									Le matricule est requis et doit contenir que des nombres au minimum 2 nombres
								</div>
							</section>

							<section>
								<label class="label" for="password">Mot de passe</label>
								<label class="input">	
						  			<i class="icon-append fa fa-lock"></i>
						  			<input id="password" class="form-control" type="password" formControlName="password">
						  			<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Merci d'enter votre mot de passe</b>
						  		</label>
							  	<div [hidden]="loginForm.get('password').valid || loginForm.get('password').untouched" class="alert alert-danger">
									Le mot de passe est requis et doit contenir 8 caractéres au minimum
								</div>
							</section>

						</fieldset>
						<footer>
							<button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid">Login</button>
						</footer>

					</form>
						

				</div>
			</div>
		</div>

	</div>

</div>

	