<header class="top-bar">
    <div class="container-fluid top-nav"> 
        <div class="row">
            <div class="col-md-2">
                <div class="clearfix top-bar-action">
                    <img src="/assets/images/logo_vivetic.png" alt="Vivetic" style="    margin-top: 3%;">
                </div>
            </div>
            <div class="col-md-4 responsive-fix top-mid">
                <div class="notification-nav">
                    <ul class="clearfix">
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="hide-small-device waves-effect">
                                <i class="fa fa-navicon"></i>
                            </a>
                            <ul role="menu" class="dropdown-menu fadeInUp">
                                <li><a routerLink="/inbox"><span class="user-nav-icon"><i class="fa fa-envelope"></i></span><span class="user-nav-label">Boîte de réception</span></a>
                                </li>
                                <li><a routerLink="#"><span class="user-nav-icon"><i class="fa fa-line-chart"></i></span><span class="user-nav-label">Statistiques</span></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 responsive-fix">
                <div class="top-aside-right">
                    <div class="user-nav">
                        <button class="btn btn-default" style="margin-top: 15%;" routerLink="/login">Déconnexion <i class="fa fa-sign-out"></i>
                        </button>
                    </div> 
                    <div class="pull-right desktop-search">
                    </div>  
                </div>
            </div>
        </div>
    </div>
</header>
