<div class="table-responsive">
	<table class="table table-bordered">
		<thead>
			<tr class="default">
				<th rowspan="2" class="text-center" style="vertical-align: middle">MATRICULE
				</th>
				<th rowspan="2" class="text-center" style="vertical-align: middle">PRÉNOM
				</th>
				<th rowspan="2" class="text-center" style="vertical-align: middle">MAIL
				</th>
				<th colspan="3" class="text-center">ACTIONS</th>
			</tr>
			<tr class="default">
				<th class="text-center">Voir détail</th>
				<th class="text-center">Modifier</th>
				<th class="text-center">Supprimer</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let user of users">
				<td class="text-center">{{user.matricule}}</td>
				<td class="text-center">{{user.prenom}}</td>
				<td class="text-center">{{user.mail}}</td>
				<td class="text-center">
					<button type="button" data-toggle="tooltip" data-placement="top" class="btn btn-default btn-block btn-xs" (click)="viewDetail(user.id_user)"><i class="fa fa-eye" aria-hidden="true"></i></button>
				</td>
				<td class="text-center">
					<button type="button" class="btn btn-block btn-default btn-xs"><i class="fa fa-edit" aria-hidden="true"></i></button>
				</td>
				<td class="text-center">
					<button type="button" class="btn btn-danger btn-block btn-xs"><i class="fa fa-close" aria-hidden="true"></i></button>
				</td>
			</tr>
		</tbody>
	</table>
</div>